body {
    color: #D9D6CF;
    background-color: #2d383a;
}

#map {
    float: left;
    border-collapse: collapse;
    background-color: #a5a29b;
    color: #2d383a;
    margin-right: 15px;
}

#map, #map td, #map tr {
    border: 1px solid rgb(45, 56, 58);
}

#map td {
    font-size: 8pt;
    text-align: center;
    color: white;
    width: 16px;
    height: 16px;
    cursor: crosshair;
}

#menu {
    float: left;
}

select, input {
    background-color: #C9C0BB;
    color: #2d383a;
    border: 1px solid black;
    font-size: 10pt;
}

input[type='text'] {
    width: 150px;
}

a.btn {
    background-color: #E6BC5C;
    color: #2d383a;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px 5px;
    font-size: 10pt;
    cursor: pointer;
    text-decoration: none;
}

a.btn:active {
    border: 1px solid #C9C0BB;
}

span {
    clear: both;
    float: left;
}

span b {
    width: 100px;
    float: left;
}