body {
    color: #D9D6CF;
    background-color: #2d383a;
}

#map {
    float: left;
    border-collapse: collapse;
    background-color: #D9D6CF;
    color: #2d383a;
    margin-right: 15px;
}

#map, #map td, #map tr {
    border: 1px solid rgb(45, 56, 58);
}

#map td {
    width: 16px;
    height: 16px;
}

#menu {
    float: left;
}

select, input {
    background-color: #C9C0BB;
    color: #2d383a;
    border: 1px solid black;
    font-size: 10pt;
    width: 150px;
}

button {
    background-color: #E6BC5C;
    color: #2d383a;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10pt;
}

button:active {
    border: 1px solid #C9C0BB;
}

span {
    clear: both;
    float: left;
}

span b {
    width: 100px;
    float: left;
}