body {
    color: #D9D6CF;
    background-color: rgb(45, 56, 58);
}

#map {
    float: left;
    border-collapse: collapse;
    background-color: #D9D6CF;
    color: rgb(45, 56, 58);
    margin-right: 15px;
}

#map, #map td, #map tr {
    border: 1px solid rgb(45, 56, 58);
}

#map td {
    width: 16px;
    height: 16px;
}

#menu {
    float: left;
}

select, input[type="text"] {
    background-color: #D9D6CF;
    color: rgb(45, 56, 58);
    font-size: 10pt;
    width: 150px;
}